<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Product Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>
<body>
<div align="center">
    <div>
        <h1>Product List</h1>
        <div sec:authorize="hasAnyAuthority('ADMIN')">
        <a href="/new">Create New Product</a>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>
        <form th:action="@{/page/1}">
            Filter:
            <input type="text" name="keyword" required/>
            &nbsp;
            <input type="submit" value="Search"/>
            &nbsp;
            <input type="button" value="Clear" onclick="clearFilter()"/>
        </form>
    </div>
    <div>&nbsp;
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Discount</th>
                <th>Actual Price</th>
                <th>Actions</th>
            </tr>
            </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.discount}"></td>
            <td th:text="${product.actualPrice}"></td>
            <td>
                <div sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                &nbsp &nbsp
                </div>
                <a th:href="@{'/add/' + ${product}}">Buy</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <div>&nbsp; </div>
<div>
    Total Items:[[${totalItems}]] - Page [[${pageNumber}]] of [[${totalPages}]]
    &nbsp; - &nbsp;
    <a th:if="${pageNumber>1}" th:href="@{/page/1}">First</a>
    <span th:unless="${pageNumber>1}">First</span>
    &nbsp;&nbsp;
    <a th:if="${pageNumber>1}" th:href="@{'/page/'+ ${pageNumber-1}}">Previous</a>
    <span th:unless="${pageNumber>1}">Previous</span>
    &nbsp;&nbsp;
    <span th:each="i:${#numbers.sequence(1,totalPages)}">
            <a th:if="${i != pageNumber}" th:href="@{'/page/'+${i}}">[[${i}]]</a>
            <span th:unless="${i != pageNumber}">[[${i}]]</span>
        &nbsp;&nbsp;
    </span>

    <a th:if="${pageNumber<totalPages}" th:href="@{'/page/'+ ${pageNumber+1}}">Next</a>
    <span th:unless="${pageNumber<totalPages}">Next</span>
    &nbsp;&nbsp;
    <a th:if="${pageNumber<totalPages}" th:href="@{'/page/'+ ${totalPages}}">Last</a>
    <span th:unless="${pageNumber<totalPages}">Last</span>
</div>
</div>
<script type="text/javascript">
    function clearFilter() {
        window.location = '/page/1'
    }
</script>
</body>
</html>